#sm_slider {
	height: 440px;
	margin: 0;
	position: relative;
    display: inline-block;
}

#sm_slider ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
    
.sm_slide {
	display: none;
	left: 0;
	position: absolute;
	top: 0;
	visibility: hidden;
	width: 100%;
    background: none;
}

.sm_slide.active {
	display: block;
	visibility: visible;
}

.sm_slide img {
	max-width: 100%;
}

.sm_prev, .sm_next {
	background: url(sm_arr.png) no-repeat;
	cursor: pointer;
	display: block;
	font-style: normal;
	height: 64px;
	margin: -31px 0 0 0;
	opacity: .3;
	position: absolute;
	top: 50%;
	width: 60px;
	z-index: 999;
}

.sm_prev {
	background-position: 20px -50px;
	left: 0;
}  

.sm_next {
	background-position: -40px -50px;
	right: 0;
}

.sm_prev:hover {
	background-position: 20px 14px;
	opacity: 1;
}

.sm_next:hover {
	background-position: -40px 14px;
    opacity: 1;
}

.sm_nav {
	bottom: 0px;
	clear: both;
	display: inline-block;
	overflow: hidden;
	padding: 5px 0px;
	position: absolute;
	right: 0px;
	z-index: 999;
}

.sm_nav-item {
	cursor: pointer;
	float: left;
	height: 14px;
	padding: 4px;
	width: 14px;
	z-index: 999;
	list-style-type: none;
	font-size: 11px;
	color: #ccc;
}

.sm_nav-item i {
	display: block;
	width: 6px;
	height: 6px;
	position: relative;
	top: 5px;
	left: 4px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	background-color: #7f7f7f;
}

.sm_nav-item.active, .sm_nav-item.active:hover {
	cursor: default;
	color: #7e7e7e;
}

.sm_nav-item.active i{
	background-color: #bfbfbf;
}

.sm_nav-item:hover i {
	background: #7f7f7f;
}

.sm_nav-item.active:hover i{
	background-color: #bfbfbf;
}