/** 
 *  sliderkit-demos.css
 *	> CSS code for demos
 *  
 *  This file is part of Slider Kit jQuery plugin.
 *  http://www.kyrielles.net/sliderkit/
 *  
 *  Copyright (c) 2010-2012 Alan Frog
 *  Licensed under the GNU General Public License
 *  See <license.txt> or <http://www.gnu.org/licenses/>
 *
 */


.carousel-news{height:362px; display: inline-block!important; margin-top: 25px;}

/* Navbar */
.carousel-news .sliderkit-nav{left:0;bottom:0;width:100%;height:362px;padding:0;}
.carousel-news .sliderkit-nav-clip ul li{float:left;margin:0 2px 0 0;}
.carousel-news .sliderkit-nav-clip ul li a{display:block;width:277px;height:362px;overflow:hidden;margin:0;opacity:1;}
.carousel-news .sliderkit-nav-clip ul li a:hover{opacity:1;}

/* Navbar buttons */
.carousel-news .sliderkit-nav .sliderkit-nav-btn{position:absolute;top:150px;}
.carousel-news .sliderkit-nav .sliderkit-nav-btn span{display:none;}
.carousel-news .sliderkit-nav .sliderkit-nav-btn a{display:block;width:50px;height:50px; opacity: .9}
.carousel-news .sliderkit-nav .sliderkit-nav-prev{left:-40px;}
.carousel-news .sliderkit-nav .sliderkit-nav-next{right:-40px;}
.carousel-news .sliderkit-nav .sliderkit-nav-prev a{background:transparent url("../images/news_left.png") no-repeat center 0;}
.carousel-news .sliderkit-nav .sliderkit-nav-next a{background:transparent url("../images/news_right.png") no-repeat center 0;}
.carousel-news .sliderkit-nav .sliderkit-nav-prev a:hover,
.carousel-news .sliderkit-nav .sliderkit-nav-prev a:focus{opacity: 1}
.carousel-news .sliderkit-nav .sliderkit-nav-next a:hover,
.carousel-news .sliderkit-nav .sliderkit-nav-next a:focus{opacity: 1}

/* Buttons > Disable */
.carousel-news .sliderkit-nav .sliderkit-btn-disable{opacity:0.3/*can be set to any value until 1*/;cursor:default;}



