body {
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial, Helvetica, sans-serif;

}

a:active, a:visited {
	border: none!important;
}

#page {
	text-align: center;
	background: white;
}
#headerWrap {
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 3;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.2);
	box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.2);
}
#header {
	margin: 0;
	padding: 0;
	text-align: center;
	height: 100px;
	min-width: 720px;
	display: inline-block;

}

#logo {
	padding-left: 20px;
	float: left;
	display: inline-block;
	width: 371px;
	margin-top: 36px;
}
#logo img {
	width: 371px;
}

#headerRight {
	padding-right: 20px;
	display: inline-block;
	float: right;
	width: 300px;
	text-align: right;
	margin-top: 25px;
}

#headerPhone {
display: inline-block;
font-size: 31px;
color: #000;
}
#headerPhone a {
	color: #000;
}
#headerPhone a:hover {
	text-decoration: none;
}
#headerLinks {
display: inline-block;
margin-bottom: 20px;
}



.headerPict:hover {
	text-decoration: none!important;
}
p {
	font-size: 16px;
}

/* MAIN PAGE */

#mainBanner {
	height: 440px;
	background-image: url('../images/base/slider_bg2.png');
	-webkit-box-shadow: 0px 3px 2px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow: 0px 3px 2px 0px rgba(50, 50, 50, 0.3);
	box-shadow: 0px 3px 2px 0px rgba(50, 50, 50, 0.3);
	border-bottom: 1px solid rgba(50,50,50,.15);
	position: relative;
	z-index: 2;
}
.mainSliderPic {
	position: absolute;
	right: 0
}
.mainSliderTextCont {
	height: 200px;
	left: 0;
	top: 120px;
	position: absolute;
	
}

.mainSliderText {
	line-height: 37px;
	margin: 4px 0 0 20px;
	padding: 0 20px;
	text-align: left;
	height: 40px;
	-webkit-transform: skewX(-30deg);
	-moz-transform: skewX(-30deg);
	-o-transform: skewX(-30deg);
	-ms-transform: skewX(-30deg);
	transform: skewX(-30deg);
	background-color: #FF351D;
}
.mainSliderText p {
	font-size: 33px;
	font-weight:100;
	color: #fff;
	-webkit-transform: skewX(30deg);
	-moz-transform: skewX(30deg);
	-o-transform: skewX(30deg);
	-ms-transform: skewX(30deg);
	transform: skewX(30deg);
}
.mainSliderLink {
	text-align: left;
	font-size: 25px;
	margin: 20px 0  0 20px;
	color: #FF351D;
	text-decoration: underline;
}
.mainSliderLink a {

}
.mainSliderLink a:hover {
	color: #FF351D;

}
.mainSliderDesc {
	text-align: left;
	font-size: 18px;
	padding-left: 20px;
	padding-top: 15px;
	color: #000;
}





#mainOnlineS {
	background: rgb(255,255,255);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 4%, rgba(252,252,252,1) 24%, rgba(246,246,246,1) 51%, rgba(238,238,238,1) 74%, rgba(224,224,224,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(0%,rgba(247,247,247,1)), color-stop(4%,rgba(255,255,255,1)), color-stop(24%,rgba(252,252,252,1)), color-stop(51%,rgba(246,246,246,1)), color-stop(74%,rgba(238,238,238,1)), color-stop(100%,rgba(224,224,224,1)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 0%,rgba(255,255,255,1) 4%,rgba(252,252,252,1) 24%,rgba(246,246,246,1) 51%,rgba(238,238,238,1) 74%,rgba(224,224,224,1) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 0%,rgba(255,255,255,1) 4%,rgba(252,252,252,1) 24%,rgba(246,246,246,1) 51%,rgba(238,238,238,1) 74%,rgba(224,224,224,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 0%,rgba(255,255,255,1) 4%,rgba(252,252,252,1) 24%,rgba(246,246,246,1) 51%,rgba(238,238,238,1) 74%,rgba(224,224,224,1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 0%,rgba(255,255,255,1) 4%,rgba(252,252,252,1) 24%,rgba(246,246,246,1) 51%,rgba(238,238,238,1) 74%,rgba(224,224,224,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 );


	height: 460px;
}
#mainOnlineS ul {
	padding: 0;
	margin: 10px 0 0 0;
	list-style: none;
}
#mainOnlineS li {
	display: inline-block;
	margin: 0;
}
#mainOnlineS li:first-child {
	margin-left: 0;
}
#mainOnlineS li:last-child {
	margin-right: 0;
}
#mainOnlineS a:active {
	border: none!important;
}

.mainOnlineText {
	position: absolute;
	color: #fff;
	text-align: center;

}

.mainBlockLabel {
	margin-top: 25px;
	display: inline-block;
	width: 300px;
	height: 34px;
	padding-top: 8px;
	font-size: 22px;
	color: #000;
	position: relative;
	z-index: 1;
	font-size: 30px;
}




#mainServices {
	position: relative;
	z-index: 2;
	min-height: 600px;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.75);
}

#mainServicesCont {
	display: inline-block;
	margin: 0;
}
#mainServicesContHeader {
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 25px;
	color: #FC0000;
	text-align: left;
}
#mainServices ul {
	list-style: none;
}
#mainServices ul#sm {
	margin: 0;
}
#mainServices ul#sm > li {
	margin: 16px 0;
}
#mainServices li, #mainServices li a {
	color: #01588D;
}
#mainServices li.sm {
	font-size: 19px;
}
#mainServices li.sm a {
	border-bottom: 1px dotted #01588D;
	cursor: pointer;
	-webkit-user-select: none;
}
#mainServices li.sm a:hover {
	text-decoration: none;
}
#mainServices li.ss {
	font-size: 15px;
	line-height: 15px;
	padding: 5px;
	margin-bottom: 5px;
	
}
#mainServices li.ss a {
	border-bottom: 1px dotted #01588D;
	cursor: pointer;
	-webkit-user-select: none;
}
#mainServices li.ss a:hover {
	text-decoration: none;
}
.mainActiveServBut {
	color: #000!important;
	border-bottom: none!important;
}
#mainServLeft {
	padding-left: 30px;
	vertical-align: top;
	width: 400px;
}
#bodyDesc {
	padding-right: 30px;
	vertical-align: top;
	padding-top: 20px;
	text-align: justify;
}




#mainNewsTriangle {
	margin: 0 0 -57px 0; 
	position: relative; 
	z-index: 3; 
	height: 57px;
	width: 100%; 
}
#mainNews {
	background-image: url('../images/base/bg_lines.png');
	height: 520px;
	background-color: #4A4A4A;
}
.mainNewsItemCont {
	position: absolute;
	width: 247px;
	height: 332px;
	padding: 15px;
}
.mainNewsItemDate {
	color: #222;
	text-align: left;
}
.mainNewsItemHeader {
	margin: 5px 0;
	color: #222;
	text-align: left;
	font-size: 19px;
}
.mainNewsItemPic {
	height: 150px;
	width: 245px;
	background-color: #E6E6E6;
}
.mainNewsItemText {
	margin-top: 10px;
	text-align: left;
	color: #555;
	font-size: 12px;
	line-height: 14px;
}






#mainAbout {
	position: relative;
	z-index: 2;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.75);
}
#mainAboutCont {
	display: inline-block;
	margin: 50px 0;
}

#mainAboutText {
	padding-left: 20px;
	text-align: left;
	width: 45%;
	display: inline-block;
	float: left;
}
#mainAboutList {
	padding-right: 20px;
	width: 45%;
	display: inline-block;
}

#mainAboutCont h3 {
	font-weight: normal;
	color: #222;
	font-size: 30px;
}
#mainAboutCont p {
	font-size: 16px;
	color: #222;
	line-height: 25px;
}
#mainAboutPics td {
	padding-top: 0;
	padding-left: 0;
	padding-right: 20px;
	font-size: 16px;
	color: #222;
}
#mainAboutPics img {
	max-width: 46px;
}


/* FORMS */
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	border-color: rgba(100,0,0,0.5)!important;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(255, 0, 0, 0.41)!important;
	-moz-box-shadow:    0px 0px 6px 0px rgba(255, 0, 0, 0.41)!important;
	box-shadow:         0px 0px 6px 0px rgba(255, 0, 0, 0.41)!important;
}

#callback, #request, #consult {
	border-radius: 0;
	border: 10px solid #D7D7D7;
}
#callback label, #request label, #consult label {
font-weight: normal;
font-size: 16px;
line-height: 40px;
}
#feedback-form label {
	font-weight: normal;
	font-size: 16px;
}
#callback h3, #request h3, #consult h3 {
font-weight: normal;
font-size: 30px;
text-align: center;
}
#callback input[type="text"], #consult input[type="text"], #consult textarea {
	width: 300px;
}
#callback select, #callback option, #consult select, #consult option {
	width: 322px;
	height: 37px;
}
input[type="text"], input[type="password"], input[type="number"], .ui-autocomplete-input, textarea, .uneditable-input, select, option{
	padding: 7px 10px!important;
	border-radius: 0!important;
}
.btn-info {
	background: rgb(255,117,42)!important;

}



/* INSIDE PAGE */

.insidePage {
	overflow-y: hidden;
	background-color: #DBDBDB;
}
.insideCont {
	width: 100%;
	height: 100%;	
}
.insideBg {
	width: 100%;
}







/* DOCS PAGE */
.insideDocsBlock {
	width: 90%; 
	display: inline-block;
	margin-bottom: 0;
}
.insideDocsBlock td {
	background-color: #fff;
}
.insideDocsBlock ul {
	margin-left: 80px;
}
.insideDocsBlock a {
	color: #0060C4;
	text-decoration: underline;
}
.insideDocsBlock li {
	color: #0060C4;
}
.docsPic {
	padding-left: 40px;
	padding: right: 20px;
}
.docm h3 {
	margin-top: 20px;
	font-weight: normal;
	font-size: 29px;
}
.docm {
	padding-bottom: 40px;
}

#docsCont {
	display: inline-block;
	text-align: left;
}




/* REESTR PAGE */
.reestrTab {
	margin: 20px 40px;
}
.reestrTab th {
	text-align: center;
	background-color: #E7E7E7;
	font-size: 18px;
	font-weight: normal;
	border: 1px solid #C4C4C4;
}
.reestrTab td {
	text-align: center;
	font-size: 16px;
	border: 1px solid #D7D7D7;
}




/* PARTNERS PAGE */

#insidePartners td {
	vertical-align: top;
}
#insidePartners table {
	margin: 20px 40px;
}
#insidePartners h3 {
	font-weight: normal;
	color: #1E1C1D;
	font-size: 31px;
	margin-bottom: 0;
}
#insidePartners p {
	font-size: 16px;
	line-height: 25px;
	color: #1E1C1D;
}
#insidePartners li {
	font-size: 16px;
	line-height: 25px;
	color: #1E1C1D;
}
#insidePartners a {
	color: #0060C6;
}
#insidePartners ul {
	list-style-image: url('/themes/default/web/images/base/li_small.png');
}
#insidePartners .listHeader {
	font-weight: bold;
	font-size: 16px;
	line-height: 25px;
	color: #1E1C1D;
}


/* NEWS PAGE */
#insideNewsList h3 {
	font-weight: normal;
	color: #1E1C1D;
	font-size: 28px;
	line-height: 27px;
	margin-bottom: 15px;
}





/*SERVICES PAGE*/
#insideServList h1 {
font-size: 36px;
background: rgb(235,0,0);
background: -moz-linear-gradient(left,  rgba(235,0,0,1) 0%, rgba(255,41,41,1) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(235,0,0,1)), color-stop(100%,rgba(255,41,41,1)));
background: -webkit-linear-gradient(left,  rgba(235,0,0,1) 0%,rgba(255,41,41,1) 100%);
background: -o-linear-gradient(left,  rgba(235,0,0,1) 0%,rgba(255,41,41,1) 100%);
background: -ms-linear-gradient(left,  rgba(235,0,0,1) 0%,rgba(255,41,41,1) 100%);
background: linear-gradient(to right,  rgba(235,0,0,1) 0%,rgba(255,41,41,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb0000', endColorstr='#ff2929',GradientType=1 );
padding: 15px 30px;
width: 600px;
text-align: left;
color: #fff;
font-weight: normal;
margin-bottom: -30px;
margin-left: -10px;
position: relative;
z-index: 2;
}
.servicesTBlock {
	border-collapse:separate;
	border-spacing: 5px;
}
.servicesTBlock > td {
	background-color: #fff;
}

.servicesTBlock a {
	color: #0062C3;
	font-size: 16px;
	line-height: 28px;
	text-decoration: underline;
}



/* ABOUT PAGE */
#aboutMenu {
	text-align: left;
	margin-left: 0;
}

#aboutMenu a {
	font-size: 20px;
	text-decoration: none;
	color: #0161C5;
	border-bottom: 1px solid #0161C5;
}

#aboutMenu a:hover {
	text-decoration: none;
	color: #0161C5;
}


#aboutMenu li {
	display: inline-block;
	padding: 5px 10px 7px 10px;
	margin: 10px;
}

.colorList li {
	font-size: 16px;
}
.colorList {
	list-style-image: url('/themes/default/web/images/base/li_small.png')
}



/* EXPERTS PAGE */

#expertsTab {
	margin: 70px 40px 40px 40px;
}
#expertsTab th {
	text-align: center;
	padding: 5px 40px;
	background-color: #E8E8E8;
	font-weight: normal;
	font-size: 18px;
	border: 1px solid #D7D7D7;
}
#expertsTab td {
	padding: 5px 40px;
	font-weight: normal;
	font-size: 16px;
	border: 1px solid #D7D7D7;
}

/* CONTACTS PAGE */

#contactsPage h3 {
	width: 600px;
	padding: 2px 20px;
	font-weight: normal;
	color: #000;
	background-color: #E3E3E3;
	margin-bottom: 30px;
	margin-top: 50px;
}




/* FAQ PAGE */
#insideFaq a {
	color: #fff;
	text-decoration: underline;
}

.insideFAQBlock {
	width: 90%; 
	display: inline-block;
	margin-bottom: 0;
}
.answer {
	background-color: #4B4B4B; 
	color: #fff; 
	font-style: italic; 
	width: 90%; 
	margin-left: 5%;
	margin-top: -12px;
	margin-bottom: 20px;
	text-align: left;
	padding: 30px 0;
}
.answer p, .answer ol, .answer ul {
	padding: 0 50px;
	font-size: 16px;
}


/* ONLINE PAGE */
.onlinePic {
	background-color: #fff;
	vertical-align: top;
	padding: 0;
}
#calcBlock {
	-webkit-user-select: none;
}
#calcBlock input[type='radio']{
	width: 20px;
	height: 20px;
	-webkit-box-shadow: none;
	margin-top: -5px;
}
#calcBlock h2 {
	font-weight: normal;
	color: #121212;
	font-size: 29px;
	margin-bottom: 20px;
}
#calcBlock h3 {
	font-weight: normal;
	background-color: #E1E1E1;
	color: #121212;
	padding-left: 20px;
	font-size: 23px;
	margin-bottom: 30px;
}
#calcBlock .span8 {
	margin-left: 0!important;
}
#onlineCallLink {

	font-size: 18px;
	color: #fff;
	padding: 10px 20px;
	font-weight: bold;
	background: rgb(255,117,42);
background: -moz-linear-gradient(top,  rgba(255,117,42,1) 0%, rgba(195,69,10,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,117,42,1)), color-stop(100%,rgba(195,69,10,1)));
background: -webkit-linear-gradient(top,  rgba(255,117,42,1) 0%,rgba(195,69,10,1) 100%);
background: -o-linear-gradient(top,  rgba(255,117,42,1) 0%,rgba(195,69,10,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,117,42,1) 0%,rgba(195,69,10,1) 100%);
background: linear-gradient(to bottom,  rgba(255,117,42,1) 0%,rgba(195,69,10,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff752a', endColorstr='#c3450a',GradientType=0 );
text-shadow: 0px 1px 0px rgba(50, 50, 50, 1);
}

#onlineCallLink:hover {
	text-decoration: none;
	background: rgb(195,69,10);
background: -moz-linear-gradient(top,  rgba(195,69,10,1) 0%, rgba(255,117,42,1) 71%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(195,69,10,1)), color-stop(71%,rgba(255,117,42,1)));
background: -webkit-linear-gradient(top,  rgba(195,69,10,1) 0%,rgba(255,117,42,1) 71%);
background: -o-linear-gradient(top,  rgba(195,69,10,1) 0%,rgba(255,117,42,1) 71%);
background: -ms-linear-gradient(top,  rgba(195,69,10,1) 0%,rgba(255,117,42,1) 71%);
background: linear-gradient(to bottom,  rgba(195,69,10,1) 0%,rgba(255,117,42,1) 71%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3450a', endColorstr='#ff752a',GradientType=0 );
text-shadow: none;
}
#onlineOrderLink {

	font-size: 18px;
	color: #fff;
	padding: 10px 20px;
	font-weight: bold;
	background: rgb(255,83,63);
background: -moz-linear-gradient(top,  rgba(255,83,63,1) 0%, rgba(178,35,19,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,83,63,1)), color-stop(100%,rgba(178,35,19,1)));
background: -webkit-linear-gradient(top,  rgba(255,83,63,1) 0%,rgba(178,35,19,1) 100%);
background: -o-linear-gradient(top,  rgba(255,83,63,1) 0%,rgba(178,35,19,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,83,63,1) 0%,rgba(178,35,19,1) 100%);
background: linear-gradient(to bottom,  rgba(255,83,63,1) 0%,rgba(178,35,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff533f', endColorstr='#b22313',GradientType=0 );
text-shadow: 0px 1px 0px rgba(50, 50, 50, 1);


}

#onlineOrderLink:hover {
	text-decoration: none;
	background: rgb(178,35,19);
background: -moz-linear-gradient(top,  rgba(178,35,19,1) 0%, rgba(255,83,63,1) 80%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(178,35,19,1)), color-stop(80%,rgba(255,83,63,1)));
background: -webkit-linear-gradient(top,  rgba(178,35,19,1) 0%,rgba(255,83,63,1) 80%);
background: -o-linear-gradient(top,  rgba(178,35,19,1) 0%,rgba(255,83,63,1) 80%);
background: -ms-linear-gradient(top,  rgba(178,35,19,1) 0%,rgba(255,83,63,1) 80%);
background: linear-gradient(to bottom,  rgba(178,35,19,1) 0%,rgba(255,83,63,1) 80%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b22313', endColorstr='#ff533f',GradientType=0 );
text-shadow: none;
}






#content {

}

#sidebar {
	padding: 20px 20px 20px 0;
}

#footer {
	font-size: 0.8em;
	text-align: center;
	background-image: url('../images/base/footer_bg1.png');
}
#footerCont {
	display: inline-block;
	color: #fff;
}
#footerCont table {
	width: 100%;
}
#footerCont td {
	vertical-align: top;
}
#footerCont a {
	color: #fff;
}
#footerCont a:hover {
	color: #fff;
	
}


/* MAINMENU */
#menuWrap {
	width: 100%;
	background-color: #FF351D;
	text-align: center;
}
#searchForm {
float: right; 
display: inline-block;
margin: -30px 0 0 0;
}
#searchForm input {
	border: none;
	width: 120px;
	padding: 5px 30px 5px 10px;
	background-color: #FF351D;
	color: #fff;
}
#searchForm input::-moz-placeholder {
	color: #fff;
}
#searchForm input::-webkit-input-placeholder {
	color: #fff;
}

#mainmenu {
	text-align: left;
	display: inline-block;
	background-color: #FF351D;
}

#mainmenu ul {
	padding: 5px 0;
	margin: 0px;
}

#mainmenu ul li {
	display: inline;
}

#mainmenu ul li a {
	color: #fff;
	background-color: transparent;
	font-size: 16px;
	font-weight: normal;
	text-decoration: none;
	padding: 9px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a {
	background-color: #fff;
	color: #555;
}

div.flash-error, div.flash-notice, div.flash-success {
	padding: .8em;
	margin-bottom: 1em;
	border: 2px solid #ddd;
}

div.flash-error {
	background: #FBE3E4;
	color: #8a1f11;
	border-color: #FBC2C4;
}

div.flash-notice {
	background: #FFF6BF;
	color: #514721;
	border-color: #FFD324;
}

div.flash-success {
	background: #E6EFC2;
	color: #264409;
	border-color: #C6D880;
}

div.flash-error a {
	color: #8a1f11;
}

div.flash-notice a {
	color: #514721;
}

div.flash-success a {
	color: #264409;
}

div.form .rememberMe label {
	display: inline;
}

div.view {
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

#crumbsBlock {
	position: absolute;
	background-color: #474747;
	color: #fff;
	-webkit-transform: skewX(-60deg);
	-moz-transform: skewX(-60deg);
	-o-transform: skewX(-60deg);
	-ms-transform: skewX(-60deg);
	transform: skewX(-60deg);
	padding: 4px 30px 5px 30px;
}
#crumbsBlock p {
	-webkit-transform: skewX(60deg);
	-moz-transform: skewX(60deg);
	-o-transform: skewX(60deg);
	-ms-transform: skewX(60deg);
	transform: skewX(60deg);
	font-size: 20px;
	margin-bottom: 0px;
}

div.breadcrumbs {
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span {
	font-weight: bold;
}

div.search-form {
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet {

}

.portlet-decoration {
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title {
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content {
	font-size: 0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background: #EFFDFF;
}

.portlet-content ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.portlet-content li {
	padding: 2px 0 4px 0px;
}

.operations {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li {
	padding-bottom: 2px;
}

.operations li a {
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited {
	color: #0066A4;
}

.operations li a:hover {
	background: #80CFFF;
}


/*
@media screen and (max-width: 1023px) {
	body {
		padding: 0!important;
	}
	#searchForm {
		display: none;
	}
	#mainmenu ul li a {
		font-size: 12px;
		padding: 9px 5px;
	}
	.wrap {
		width: 800px;
	}

	#mainOnlineS li {
		height: 150px;
		width: 150px;
	}
	#mainOnlineS {
		height: 300px;
	}
	.mainOnlineText {
		width: 150px;
		font-size: 13px;
		margin-top: 102px;
	}
	#mainBanner {
		width: 800px;
		height: 350px!important;
	}
	#headerWrap {
		width: 800px;
		display: inline-block;
	}
	#mainOnlineS {
		width: 800px;
	}
	#mainServices {
		width: 800px;
	}
	#mainNewsTriangle {
		width: 800px;
	}
	#mainNews {
		width: 800px;
	}
	#mainAbout {
		width: 800px;
	}
	#footer {
		width: 800px;
	}
	#sm_slider {
		height: 350px!important;
	}
	.mainSliderTextCont {
		top: 80px;
	}	
	.mainSliderText p {
		font-size: 21px;
	}
	#sliderText_5 {
		top: 40px!important;
	}
	#s1p1 {
		width: 242px!important;
	}
	#s1p3 {
		width: 86px!important;
	}
	#s2p1 {
		width: 330px!important;
	}
	#s2p2 {
		width: 385px!important;
	}
	#s2p3 {
		width: 265px!important;
	}
	#s3p1 {
		width: 258px!important;
	}
	#s3p2 {
		width: 190px!important;
	}		
	#s3p3 {
		width: 165px!important;
	}
	#s4p1 {
		width: 170px!important;
	}
	#s4p2 {
		width: 140px!important;
	}
	#s5p1 {
		width: 320px!important;
	}		
	#sliderPic_1 {
		width: 480px;
		margin-top: -71px;
		margin-right: -52px;
	}
	#sliderPic_2 {
		width: 540px;
		margin-top: 25px;
		margin-right: -80px;
	}
	#sliderPic_3 {
		width: 595px;
		margin-top: -20px;
		margin-right: -105px;
	}
	#sliderPic_4 {
		width: 500px;
		margin-top: -68px;
		margin-right: -18px;
	}
	#sliderPic_5 {
		width: 550px;
		margin-top: 95px;
		margin-right: 12px;
	}
	#mainAboutText {
	text-align: left;
	width: 90%;
	display: inline-block;
	float: none;
	margin-bottom: 30px;
	}
	#mainAboutList {
		text-align: left;
		width: 90%;
		display: inline-block;
	}
	.officialPic1 {
		height: 437px;
		max-height: 437px;
	}
	.officialPic2 {
		height: 218px;
		max-height: 218px;
	}
	#mainServLeft {
	width: 230px;
	}
	.onlinePic {
		width: 150px;
	}
	.onlinePic img {
		height: 150px;
		width: 150px;
		max-width: 150px;
	}
	.sliderkit-btn {
		display: none;
	}
	.insideBg {
		width: 800px!important;
	}
	.insidePage {
		width: 800px!important;
	}
	#aboutPic {
		max-width: 200px;
	}
	.reestrTab {
		margin: 0;
	}
}
*/


@media screen and (max-width: 999px) {
	.mainSliderText p {
		font-size: 25px;
	}
	.insideBg {
		width: 999px!important;
	}
	.insidePage {
		width: 999px!important;
	}
	#aboutPic {
		max-width: 150px;
	}
	#headerWrap {
		width: 999px;
	}
	.sliderkit-btn {
		display: none;
	}
	#mainBanner {
		width: 999px;
	}
	#mainOnlineS {
		width: 999px;
	}
	#mainServices {
		width: 999px;
	}
	#mainNewsTriangle {
		width: 999px;
	}
	#mainNews {
		width: 999px;
	}
	#mainAbout {
		width: 999px;
	}
	#footer {
		width: 999px;
	}
	body {
		padding: 0!important;
	}
	.wrap {
		width: 999px;

	}

	#mainOnlineS li {
		height: 223px;
		width: 223px;
	}
	#mainOnlineS {
		height: 400px;
	}
	.mainOnlineText {
		width: 223px;
		font-size: 17px;
		margin-top: 165px;
	}
	#sliderPic_1 {
		width: 700px;
		margin-top: -163px;
		margin-right: -33px;
	}
	#sliderPic_2 {
		width: 650px;
		margin-top: 30px;
		margin-right: -60px;
	}
	#sliderPic_3 {
		width: 650px;
		margin-top: 30px;
		margin-right: -60px;
	}
	#sliderPic_4 {
		width: 600px;
		margin-top: -88px;
		margin-right: -18px;
	}
	#sliderPic_5 {
		width: 650px;
		margin-top: 80px;
		margin-right: 12px;
	}
	#mainmenu ul li a {
		font-size: 16px;
		padding: 7px 9px;
	}
	#aboutPic {
		width: 250px;
		max-width: 250px;
	}
		.officialPic1 {
		height: 635px;
		max-height: 635px;
	}
	.officialPic2 {
		height: 317px;
		max-height: 317px;
	}
	.onlinePic {
		width: 200px;
	}
	.onlinePic img {
		height: 200px;
		width: 200px;
		max-width: 200px;
	}
	#mainNewsTriangle {
		display: none;
	}
}

@media screen and (min-width: 1000px) {
	.mainSliderText p {
		font-size: 25px;
	}
	.wrap {
		width: 999px;
	}
	#mainOnlineS {
		height: 430px;
	}
	#mainOnlineS li {
		height: 230px;
		width: 230px;
	}
	.mainOnlineText {
		width: 230px;
		font-size: 19px;
		margin-top: 172px;
	}
	#sliderPic_1 {
		width: 700px;
		margin-top: -163px;
		margin-right: -33px;
	}
	#sliderPic_2 {
		width: 650px;
		margin-top: 30px;
		margin-right: -60px;
	}
	#sliderPic_3 {
		width: 650px;
		margin-top: 30px;
		margin-right: -60px;
	}
	#sliderPic_4 {
		width: 600px;
		margin-top: -88px;
		margin-right: -18px;
	}
	#sliderPic_5 {
		width: 650px;
		margin-top: 80px;
		margin-right: 12px;
	}
	#mainmenu ul li a {
		font-size: 16px;
		padding: 7px 10px;
	}
	
	.onlinePic {
		width: 300px;
	}
	.onlinePic img {
		height: 300px;
		width: 300px;
		max-width: 300px;
	}
	#aboutPic {
		width: 300px;
		max-width: 300px;
	}
	.officialPic1 {
		height: 635px;
		max-height: 635px;
	}
	.officialPic2 {
		height: 317px;
		max-height: 317px;
	}
}

@media screen and (min-width: 1400px) {

	.wrap {
		width: 1140px;
	}

	#mainOnlineS {
		height: 430px;
	}
	#mainOnlineS li {
		height: 252px;
		width: 252px;
	}
	.mainOnlineText {
		width: 252px;
		font-size: 19px;
		margin-top: 185px;
	}
	#sliderPic_1 {
		width: 760px;
		margin-top: -163px;
		margin-right: -40px;
	}
	#sliderPic_2 {
		width: 750px;
		margin-top: 5px;
		margin-right: -60px;
	}
	#sliderPic_3 {
		width: 700px;
		margin-top: 4px;
		margin-right: -40px;
	}
	.onlinePic {
		width: 350px;
	}
	.onlinePic img {
		height: 350px;
		width: 350px;
		max-width: 350px;
	}
	#aboutPic {
		width: 300px;
		max-width: 300px;
	}	
		#mainmenu ul li a {
		font-size: 18px;
		padding: 7px 12px;
	}	
}

@media screen and (min-width: 1800px) {

	.wrap {
		width: 1330px;
	}
	#mainOnlineS {
		height: 470px;
	}
	#mainOnlineS li {
		height: 293px;
		width: 293px;
	}
	.mainOnlineText {
		width: 293px;
		font-size: 21px;
		margin-top: 215px;		
	}	
	#sliderPic_1 {
		width: 800px;
		margin-top: -190px;
		margin-right: 0;
	}
	#sliderPic_2 {
		width: 750px;
		margin-top: 5px;
		margin-right: 0px;
	}
	#sliderPic_3 {
		width: 750px;
		margin-top: -26px;
		margin-right: 0px;
	}
	#sliderPic_4 {
		width: 670px;
		margin-top: -125px;
		margin-right: 37px;
	}
	#sliderPic_5 {
		width: 800px;
		margin-top: 20px;
		margin-right: 30px;
	}		
	#sliderText_1 {
		left: 80px;
	}
	.onlinePic {
		width: 400px;
	}
	.onlinePic img {
		height: 400px;
		width: 400px;
		max-width: 400px;
	}
	#aboutPic {
		width: 350px;
		max-width: 350px;
	}	
}
	.next {
		margin-left: 50px;
	}
	#yw1 {
		display: none;
	}
	.calcLabel {
        margin-top: 30px;
		display: inline-block;
		width: 499px;
	}
	.calcInp {
		width: 75px;
	}
    #calc{
        display: inline-block;
        padding: 5px 14px;
        background-color: #fff;
        border: 1px solid #ddd;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        color: #0088cc;
        cursor:pointer;
        text-decoration: none;
    }
.big-red {
    font-size: 22px;
    color: red;
}
.nodisplay {
    display: none;
}
/*form check*/
#form .adress_table input, #form .adress_table select {
    max-width: 95px !important;
}
#form .adress_table {
    margin: 0px;
}